<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V12_OTOCAMConnectionString"
            connectionString="Data Source=AZIZE\TUGI;Initial Catalog=MikroDB_V12_OTOCAM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V12_YAMIConnectionString"
            connectionString="Data Source=AZIZE\TUGI;Initial Catalog=MikroDB_V12_YAMI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V12_MARSDEMOConnectionString"
            connectionString="Data Source=AZIZE\TUGI;Initial Catalog=MikroDB_V12_MARSDEMO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V12_ADISYONConnectionString"
            connectionString="Data Source=AZIZE\TUGI;Initial Catalog=MikroDB_V12_ADISYON;User ID=sa;Password=325382"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V12_ENGINLERConnectionString"
            connectionString="Data Source=BSERVER;Initial Catalog=MikroDB_V12_ENGINLER;Persist Security Info=True;User ID=sa;Password=1907"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V12ConnectionString"
            connectionString="Data Source=LAPTOP;Initial Catalog=MikroDB_V12;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V14_BULGARIAConnectionString"
            connectionString="Data Source=BSERVER;Initial Catalog=MikroDB_V14_BULGARIA;Persist Security Info=True;User ID=sa;Password=1907"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V14ConnectionString"
            connectionString="Data Source=BSERVER;Initial Catalog=MikroDB_V14;Persist Security Info=True;User ID=sa;Password=1907"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V14_COZUMConnectionString"
            connectionString="Data Source=BSERVER;Initial Catalog=MikroDB_V14_COZUM;Persist Security Info=True;User ID=sa;Password=1907"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V14_KAYNAKConnectionString"
            connectionString="Data Source=CHT;Initial Catalog=MikroDB_V14_KAYNAK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V14_CHTConnectionString"
            connectionString="Data Source=CHT;Initial Catalog=MikroDB_V14_CHT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V14ConnectionString1"
            connectionString="Data Source=CHT;Initial Catalog=MikroDB_V14;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V14ConnectionString2"
            connectionString="Data Source=cht\ms2008;Initial Catalog=MikroDB_V14;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V15_DEMOConnectionString"
            connectionString="Data Source=XARAPC\SQLEXPRESS;Initial Catalog=MikroDB_V15_DEMO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V15_RESTConnectionString"
            connectionString="Data Source=SANALPC\SQL2008R2EX;Initial Catalog=MikroDB_V15_REST;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V15_V15_YENI_EXEConnectionString"
            connectionString="Data Source=.;Initial Catalog=MikroDB_V15_V15_YENI_EXE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V15_1512aConnectionString"
            connectionString="Data Source=SANALPC\SQL2008;Initial Catalog=MikroDB_V15_1512a;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V15_DEMOConnectionString1"
            connectionString="Data Source=.;Initial Catalog=MikroDB_V16_Kaynak;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V15ConnectionString"
            connectionString="Data Source=SANALPC\SQL2008;Initial Catalog=MikroDB_V15;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V16ConnectionString"
            connectionString="Data Source=SANALPC\SQL2008;Initial Catalog=MikroDB_V16;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V16_Kaynak6ConnectionString"
            connectionString="Data Source=SANALPC\SQL2008;Initial Catalog=MikroDB_V16_Kaynak6;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V16_dbConnectionString"
            connectionString="Data Source=.\SQL2008;Initial Catalog=MikroDB_V16_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V16_17bConnectionString"
            connectionString="Data Source=SANALPC\SQL2008;Initial Catalog=MikroDB_V16_17b;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V16_17cConnectionString"
            connectionString="Data Source=SANALPC\SQL2008;Initial Catalog=MikroDB_V16_17c;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V16_19bConnectionString"
            connectionString="Data Source=SANALPC\SQL2008;Initial Catalog=MikroDB_V16_19b;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V16_19cConnectionString"
            connectionString="Data Source=SANALPC\SQL2008;Initial Catalog=MikroDB_V16_19c;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V16_21dConnectionString"
            connectionString="Data Source=SANALPC\SQL2008;Initial Catalog=MikroDB_V16_21d;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V16_27aConnectionString"
            connectionString="Data Source=SANALPC\SQL2008;Initial Catalog=MikroDB_V16_27a;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDB_V16_BAL23ConnectionString"
            connectionString="Data Source=MEHMET;Initial Catalog=MikroDB_V16_BAL23;Persist Security Info=True;User ID=emfyazilim;Password=14531453"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDesktop_EMFSOFTConnectionString"
            connectionString="Data Source=MEHMET;Initial Catalog=MikroDesktop_EMFSOFT;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDesktop_EMFSOFTConnectionString1"
            connectionString="Data Source=mikrocozumortagi.com;Initial Catalog=MikroDesktop_EMFSOFT;User ID=emfyazilim;Password=Emf145382;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Bigus.Aktarici.Linq.Properties.Settings.MikroDesktop_MAHMUTConnectionString"
            connectionString="Data Source=MYLENOVO;Initial Catalog=MikroDesktop_MAHMUT;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
