## Visual Studio / .NET
.vs/
bin/
obj/
*.user
*.useros
*.sln.docstates
*.suo
*.userprefs
*.db
*.sqlite

## Build outputs
publish/
publish_output/
publish_temp/
*.exe
*.dll
*.pdb
*.rar
*.zip
*.7z
*.bak
*.log

## Keep setup exe & zip binaries for website downloads
!/BigLineconnect.exe
!/Website/BigLineconnect_setup.exe
!/Website/BigLineconnect_setup.zip
!/Website/lc/LightConnect_setup.exe
!/BigLineconnect.Relay/wwwroot/BigLineconnect.exe
!/BigLineconnect.Relay/wwwroot/BigLineconnect_setup.exe
!/BigLineconnect.Relay/wwwroot/BigLineconnect_setup.zip
!/BigLineconnect.Relay/wwwroot/lc/LightConnect_setup.exe
!/BigLineconnect.Installer/Resources/icon.ico
