## Visual Studio / .NET
.vs/
bin/
obj/
*.user
*.useros
*.sln.docstates
*.suo
*.userprefs
*.db
*.sqlite

## Build outputs
publish/
publish_output/
publish_temp/
*.exe
*.dll
*.pdb
*.rar
*.zip
*.7z
*.bak
*.log

## Keep source files
!/BigLineconnect.Relay/wwwroot/**
/BigLineconnect.Relay/wwwroot/*.exe
/Website/*.exe
!/BigLineconnect.Installer/Resources/icon.ico
